name: CI
on:
  pull_request:
    branches: ['develop', 'master']
    types:
      - opened
      - synchronize
      - reopened

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4.7.1
        with:
          java-version: '23'
          distribution: 'corretto'
      - name: Run spotless apply
        run: ./mvnw spotless:apply --batch-mode
      - name: Check for changes
        id: git-status
        run: |
          echo "changes=$(git status --porcelain | wc -l)" >> $GITHUB_OUTPUT
      - name: Commit changes
        if: steps.git-status.outputs.changes > 0
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git add .
          git commit -m "Apply cody style"
          git push origin HEAD:${{ github.head_ref }}
